# List

### 1. Concatenate two lists index-wise

In [24]:
#Input
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

Expected Output

    ['My', 'name', 'is', 'Kelly']

In [3]:
#Solution

### 2. Concatenate two lists in the following order

In [27]:
#Input
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Expected Output

		['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [4]:
#Solution

### 3. Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

In [29]:
#Input
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

Expected Output

		['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [5]:
#Solution

# Dictionary

### 1. Below are the two lists convert it into the dictionary

In [31]:
#Input
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected Output

		{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
#Solution

### 2. Create a new dictionary by extracting the following keys from a given dictionary

In [35]:
#Input
sampleDict = {
		  "name": "Kelly",
		  "age":25,
		  "salary": 8000,
		  "city": "New york"
		  
		}

#Keys to extract
keys = ["name", "salary"]

Expected Output

		{'name': 'Kelly', 'salary': 8000}

In [7]:
#Solution

# Set

### 1. Swap the following two tuples

In [37]:
#Input
tuple1 = (11, 22)
tuple2 = (99, 88)

Expected Output

		tuple1 = (99, 88)
		tuple2 = (11, 22)

In [8]:
#Solution

# Functions

### 1. Write a function func1() such that it can accept a variable length of  argument and print all arguments value

Expected Output
    
    After func1(20, 40, 60)
        20
        40
        60
        
    After func1(80, 100)
        80
        100

In [9]:
#Solution

### 2. Create an inner function to calculate the addition in the following way
        Create an outer function that will accept two parameters a and b
        Create an inner function inside an outer function that will calculate the addition of a and b
        At last, an outer function will add 5 into addition and return it

In [10]:
#Solution

### 4. Python program to filter a list of integers using Lambda

In [57]:
#Input
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected Output

    Original list of integers:
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    Even numbers from the said list:
    [2, 4, 6, 8, 10]

    Odd numbers from the said list:
    [1, 3, 5, 7, 9]

In [11]:
#Solution

# OOP's

### 1.Create a Vehicle class with max_speed and mileage instance attributes

In [12]:
#Solution

### 2. Create child class Bus that will inherit all of the variables and methods of the Vehicle class

In [39]:
#Input
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

Expected Output

		Vehicle Name: School Volvo
        Speed: 180
        Mileage: 12

In [13]:
#Solution

### 3. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

In [48]:
#Input
#Use the following code for your parent Vehicle class. You need to use method overriding.
class Vehicle:
			def __init__(self, name, max_speed, mileage):
				self.name = name
				self.max_speed = max_speed
				self.mileage = mileage

			def seating_capacity(self, capacity):
				return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output

		The seating capacity of a bus is 50 passengers

In [14]:
#Solution

### 4. Determine which class a given Bus object belongs to (Check type of a object)

In [19]:
#Input
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)

In [15]:
#Solution
# use Python's built-in type() function

### 5. Write a Python program to reverse a string word by word.

Input 

    Hi Siva, How are you
    
Expected Output

    you are How Siva, Hi

In [16]:
#Solution

### 6. Python class which has two methods 
        get_String and print_String. 
        get_String accept a string from the user and 
        print_String print the string in upper case

Input

    Hi how are you
    
Output
    
    Hi how are you
    HI HOW ARE YOU

In [17]:
#Solution